<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/slider/slideone.png" alt="Los Angeles" class="d-block slideHeight">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/slider/slidetwo.png" alt="Chicago" class="d-block slideHeight">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/slider/slidethree.png" alt="New York" class="d-block slideHeight">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

<!-- <div class="row mt-5">
    <div class="col-md-4 md-3" *ngFor="let x of home">
        <div class="card text-center">
            <h5 class="card-title">
                {{x.name}}
            </h5>
            <p class="card-body bg-dark">
                <a href="#">
                    <img src="{{x.url}}" class="card-image-top">
                </a>
               <button mat-raised-button color="warn">View</button>  
            </p>
        </div>
    </div>
</div> -->
