
<mat-toolbar color="primary" class="main-header">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
        </button>
        <h1>Lakshmi-Ecommerce</h1>
        <div class="col-md-7 justify-content-start">
            <a mat-button [routerLink]="'/home'">Home</a>
            <a mat-button [routerLink]="'/products'">Products</a>
            <a mat-button [routerLink]="'/contactUs'">Contact-us</a>
        </div>
        <span class="menu-spacere"></span>
        <div class="col-md-5 justify-content-end">
            <a mat-button [routerLink]="'/login'">Login</a>
            <a mat-button [routerLink]="'/register'">Register</a>
            <a mat-button [routerLink]="'/logout'">Logout</a>
            <a mat-button [matMenuTriggerFor]="userMenu">USER</a>
            <mat-menu #userMenu>
                <a mat-menu-item>Profile</a>
                <a mat-menu-item>Orders</a>
                <a mat-menu-item>Logout</a>
            </mat-menu>
            <button mat-button [routerLink]="'/cart'">
                <span matBadge="1" matBadgeColor="warn" 
                    matBadgePosition="after" matBadgeOverlap="false" matBadgeSize="medium" matBadgePosition="above after">
                    <mat-icon>add_shopping_cart</mat-icon>
                </span>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-container>
    <mat-drawer-container class="sidenav-container">
        <mat-drawer mode="side" opened #drawer>
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/home'">Home</a>
                <a mat-list-item [routerLink]="'/products'">Products</a>
                <a mat-list-item [routerLink]="'/contactUs'">Contact-us</a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</ng-container>






