.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

mat-nav-list {
    width: 250px;
}

.sidenav-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 90vh;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}

a:hover {
    background: #fff;
    text-decoration: none;
}