<div class="row pt-5">
    <div class="col-md-6 col-sm-4 mx-auto">
        <div class="card rounded-0">
            <div class="card-header lineargradeTheme">
                <h3 style="color:#fff">Login</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <p>
                            <mat-form-field style="width:100%">
                                <mat-label>User Name: </mat-label>
                                <input matInput type="text" name="username" required [(ngModel)]="loginUserData.username">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field style="width:100%">
                                <mat-label>Password: </mat-label>
                                <input matInput type="password" name="password" required [(ngModel)]="loginUserData.password">
                            </mat-form-field>
                        </p>
                        <button mat-raised-button class="float-end lineargradeTheme" (click)="loginUser()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>>
