/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.lineargradeTheme{
    background-image: linear-gradient(to right, rgb(23, 134, 42), rgb(9, 51, 7));
    color:#fff;
}
